fluxo_n8n_sccs.json
{
    "name": "Processador SCCS Faturas (Email -> PDF -> Painel)",
    "nodes": [
        {
            "parameters": {
                "postProcessAction": "nothing",
                "format": "resolved",
                "options": {
                    "allowUnauthorizedCerts": true,
                    "customEmailProtocol": "imap",
                    "dataPropertyAttachmentsPrefixName": "attachment_"
                }
            },
            "id": "e2f3d915-1c3f-42ae-b9c1-4b19aa150e7a",
            "name": "Lê E-mail (Hostinger)",
            "type": "n8n-nodes-base.emailReadImap",
            "typeVersion": 2,
            "position": [
                380,
                240
            ]
        },
        {
            "parameters": {
                "operation": "extract",
                "binaryPropertyName": "attachment_0"
            },
            "id": "8472f10b-d2c6-4d2c-80a5-f850e32ef7a2",
            "name": "Extrair Texto do PDF",
            "type": "n8n-nodes-base.pdf",
            "typeVersion": 1,
            "position": [
                600,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://192.168.15.4:3000/api/webhook/process-invoice",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={\n  \"text_content\": \"{{ $json.text }}\",\n  \"pdf_path\": \"/downloads/fatura_{{ $now.toFormat('yyyyMMddHHmmss') }}.pdf\"\n}",
                "options": {}
            },
            "id": "205a968a-211c-4b35-85d1-949e2115e45a",
            "name": "Envia p/ Painel SCCS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                820,
                240
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Lê E-mail (Hostinger)": {
            "main": [
                [
                    {
                        "node": "Extrair Texto do PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Texto do PDF": {
            "main": [
                [
                    {
                        "node": "Envia p/ Painel SCCS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "versionId": "f96f00e9-ea21-424a-9c7a-dbe8cb95bca2",
    "id": "C5s80oZzG828kH4H",
    "tags": []
}