n8n_sccs.json
{
  "name": "n8n_sccs_corrigido",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "read",
        "downloadAttachments": true,
        "options": {}
      },
      "id": "9b005bc7-a12c-42d7-a34d-7f0dd938ffbc",
      "name": "Email Read (SCCS)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        16,
        528
      ],
      "credentials": {
        "imap": {
          "id": "SZnaGVJKrGoDZXXw",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        240,
        528
      ],
      "id": "a466781b-1baa-443f-b335-b6d2657ecf44",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente financeiro. Leia o texto da nota fiscal e extraia stritamente 5 informações em formato JSON: 'fornecedor', 'numero_nota', 'data', 'valor_total' e 'termo_projeto'.\n\nResponda APENAS o JSON bruto, sem blocos de código markdown ou explicações.\nTexto da nota: {{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        528
      ],
      "id": "118b907c-a98a-4077-84fb-65976a216cf5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        740
      ],
      "id": "c469a96a-0fea-49fb-b4a2-d38383281de7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XIPQdJJrcXyc1WjO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nlet originalBinary;\ntry {\n  originalBinary = $('Loop').first().binary;\n} catch (e) {\n  try {\n    originalBinary = $items('Loop')[0].binary;\n  } catch(e2) {}\n}\n\nfor (const item of $input.all()) {\n  try {\n    let rawOutput = item.json.output;\n    let cleanText = rawOutput.replace(/```json|```/g, '').trim();\n    let parsedData = JSON.parse(cleanText);\n\n    if (parsedData.valor_total) {\n      let valorSujo = String(parsedData.valor_total).replace(/[^\\d.,-]/g, '');\n      if (valorSujo.includes(',')) {\n        valorSujo = valorSujo.replace(/\\./g, '').replace(',', '.');\n      }\n      parsedData.valor_total = valorSujo;\n    }\n\n    if (parsedData.termo_projeto && parsedData.termo_projeto !== null && parsedData.termo_projeto !== 'null') {\n      let termoLimpo = String(parsedData.termo_projeto).split('/')[0].trim();\n      if (!termoLimpo.toUpperCase().startsWith('T ')) {\n        termoLimpo = 'T ' + termoLimpo;\n      }\n      parsedData.termo_projeto = termoLimpo;\n    } else {\n      parsedData.termo_projeto = 'T 0000';\n    }\n\n    results.push({ \n      json: parsedData,\n      binary: originalBinary \n    });\n  } catch (error) {\n    results.push({ json: { erro: \"Falha na organizacao do JSON\", textoOrigin: item.json.output } });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        528
      ],
      "id": "code-node-id",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "path": "=/sccs_api/nf_sem_comprovante/NF_{{ $json.numero_nota }}_{{ String($json.fornecedor).replace(/\\s+/g, '_') }}.pdf",
        "fileContent": "attachment_0"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1040,
        528
      ],
      "id": "6d2012dc-8b27-457b-91a5-80002dda90d8",
      "name": "Upload a file",
      "credentials": {
        "nextCloudApi": {
          "id": "k0d94VRENLQ4ci6h",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.15.4:3001/api/webhooks/invoice",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"invoice_number\": $json.numero_nota,\n  \"supplier\": $json.fornecedor,\n  \"amount\": String($json.valor_total),\n  \"date\": $json.data,\n  \"project_term\": $json.termo_projeto ? $json.termo_projeto : \"T 0000\",\n  \"file_url\": \"http://nextcloud.sccruzeirodosul.org/remote.php/dav/files/casaos/sccs_api/nf_sem_comprovante/NF_\" + $json.numero_nota + \"_\" + String($json.fornecedor).replace(/\\s+/g, '_') + \".pdf\"\n}) }}",
        "options": {}
      },
      "id": "8031d0b2-733d-4fb6-9398-f15e67f11746",
      "name": "SCCS Web API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        528
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "19bfae92-3580-4966-aefb-db81a967a5b3",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        350
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Email Read (SCCS)": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "SCCS Web API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        []
      ]
    },
    "SCCS Web API": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ccf94e3-68b2-4baa-97eb-ad1525aa1b49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59d9be7c196bd8900b2cc3ff7c30da708f228fd373085c3171ff85169f5bdbb5"
  },
  "id": "wI2ZFEdrZyKYZxxA",
  "tags": []
}